node_modules/
.expo/
dist/
android/
ios/
bin/
obj/
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.settings/
.project
.classpath
.factorypath
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
